@model IEnumerable<Forum.Models.PostModel>

@{
    ViewData["Title"] = "Browse";
}
<!DOCTYPE html>

<a class="badge badge-primary"
   asp-area="" asp-controller="Category" asp-action="Browse" asp-route-id="@ViewBag.Parent.ParentId">
    Return to Threads
</a>

<div class="d-flex flex-column mt-4">
    @if (Model.Any())
    {
        int counter = 0;
        @foreach (var item in Model)
        {
            counter++;
            <div class="container">
                <div class="row">
                    <div class="col-3 border">
                        @item.Created
                    </div>
                    <div class="col text-right border">
                        #@counter
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 border">
                        <div class="d-flex flex-column">
                            @if (item.Author != null)
                            {
                                <div>@item.Author.UserName</div>
                                <div>@item.Author.GetHighestRole(ViewBag.UserManager)</div>
                                <div>Join date: @item.Author.JoinedAt</div>
                                <div>Location: @item.Author.Location</div>
                            }
                            else
                            {
                                <div>We lost author</div>
                                <div>Ghost</div>
                                <div>Join date: ???</div>
                                <div>Location: ???</div>
                            }
                        </div>
                    </div>
                    <div class="col  border">
                        <div class="input-group my-2">
                            <textarea class="form-control" readonly>@item.Text</textarea>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>Wow, such empty</h1>
    }
    <form asp-action="Create">
        <div class="container mt-4 border">
            <div class="row">
                <div class="col">
                    <div class="input-group my-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Text</span>
                        </div>
                        <textarea name="Text" class="form-control" aria-label="Text"></textarea>
                    </div>
                </div>
            </div>
            <input name="ThreadId" class="form-control" value="@ViewBag.Parent.ParentId" hidden/>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
        <div class="file-upload-wrapper">
          <input type="file" id="input-file-now" class="file-upload" />
        </div>
    </form>
</div>