@model IEnumerable<Forum.Models.ViewModels.ThreadViewModel>

@{
    ViewData["Title"] = "Browse";
}
<!DOCTYPE html>

<a class="badge badge-primary"
   asp-area="" asp-controller="Category" asp-action="Browse" asp-route-id="@ViewBag.Parent.ParentId">
    Return to Categories
</a>

<div class="d-flex flex-column mt-4">
    <div class="container">
        <div class="row">
            <div class="col border">
                <div class="nav-link text-dark">
                    <h4 class="">Name</h4>
                </div>
            </div>
            <div class="col border">
                <div class="nav-link text-dark">
                    <h4 class="">Author</h4>
                </div>
            </div>
            <div class="col border">
                <div class="nav-link text-dark">
                    <h4 class="">Created</h4>
                </div>
            </div>
            <div class="col border">
                <div class="nav-link text-dark">
                    <h4 class="">Last active</h4>
                </div>
            </div>
            <div class="col border">
                <div class="nav-link text-dark">
                    <h4 class="">Posts</h4>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Any())
    {
        @foreach (var item in Model)
        {
            <div class="container">
                <div class="row">
                    <div class="col border">
                        <a class="nav-link text-dark"
                           asp-area="" asp-controller="Post" asp-action="Browse" asp-route-id="@item.Id">
                            @item.Name
                        </a>
                    </div>
                    <div class="col border">
                        <a class="nav-link text-dark"
                           asp-area="" asp-controller="Category" asp-action="Browse" asp-route-id="@item.Id">
                            @item.AuthorName
                        </a>
                    </div>
                    <div class="col border">
                        <div class="nav-link text-dark">
                            @item.Created
                        </div>
                    </div>
                    <div class="col border">
                        <div class="nav-link text-dark">
                            @item.LastActive
                        </div>
                    </div>    
                    <div class="col border">
                        <div class="nav-link text-dark">
                            @item.PostsCount
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h1>Wow, such empty</h1>
    }
    <a class="badge badge-info mt-4"
       asp-area="" asp-controller="Thread" asp-action="Create" asp-route-id="@ViewBag.Parent.Id">
        Create
    </a>
</div>