@model IEnumerable<Forum.Models.ViewModels.CategoryViewModel>

@{
    Layout = "Admin/_AdminLayout";
}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">ParentName</th>
        <th scope="col">PostsCount</th>
        <th scope="col">ThreadsCount</th>
        <th scope="col">Created</th>
        <th scope="col">LastActive</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <th scope="row">@category.Name</th>
            <td>@category.Description</td>
            <td>@category.ParentName</td>
            <td>@category.PostsCount</td>
            <td>@category.ThreadsCount</td>
            <td>@category.Created</td>
            <td>@category.LastActive</td>
            <td>
                <a class="badge bg-warning" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
    document.querySelector("#CategoriesLink").className += " active";
    document.querySelector("#Databases").className += " menu-open";
    </script>
}